<app-navbar></app-navbar>
<div class="row mt-2">
    <div class="col-12 col-md-6 col-lg-4 form-group mx-auto p-2 border rounded">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre de usuario" />
            <input type="email" class="form-control mt-2" id="email" formControlName="email" placeholder="Correo electrónico" />
            <input type="password" class="form-control mt-2" id="password" formControlName="password" minlength="8" placeholder="Contraseña" />
            <button class="btn btn-primary mt-2 mx-auto w-100">Registrarme</button>
            <p class="mt-2 text-center">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
        </form>
    </div>
</div>