<app-navbar></app-navbar>
<div class="row mt-4 mx-0">
    <div class="col-12 col-md-6 col-lg-4 form-group mx-auto p-2 border rounded">
      <div class="w-75 mx-auto bg-success rounded my-1 text-center" *ngIf="message">
        {{message}}
      </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Nombre de usuario" />
            <div class="error" *ngIf="submitted && form.username.errors">
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.username.errors.required">Elige un nombre de usuario</div>
            </div>
            <input type="text" class="form-control mt-2" id="name" formControlName="name" placeholder="Tu nombre" />
            <div class="error" *ngIf="submitted && form.name.errors">
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.name.errors.required">Elige un nombre</div>
            </div>
            <input type="email" class="form-control mt-2" id="email" formControlName="email" placeholder="Correo electrónico" />
            <div class="error" *ngIf="submitted && form.email.errors">
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.email.errors.required">Escribe tu correo electrónico</div>
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.email.errors.email">Escribe una dirección de correo válida</div>
            </div>
            <input type="password" class="form-control mt-2" id="password" formControlName="password" minlength="8" placeholder="Contraseña" />
            <div class="error" *ngIf="submitted && form.password.errors">
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.password.errors.required">Escribe una contraseña</div>
              <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="form.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</div>
            </div>
            <input type="password" class="form-control mt-2" id="password2" formControlName="password2" placeholder="Repite la contraseña" />
            <div class="w-75 rounded bg-danger text-center mx-auto p-1 my-1" *ngIf="submitted">Las contraseñas no coinciden</div>

            <button class="btn btn-dark mt-2 mx-auto w-100">Registrarme</button>
            <p class="mt-2 text-center">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
        </form>
    </div>
</div>
<app-footer></app-footer>
