$color-principal-navbar: #b0ff8e;
$color-boton-images: #b0ff8e;
$color-images-hover: #FFFF5C;
$color-boton-videos: #b0ff8e;
$color-videos-hover: #70E7FF;

.nav-link {
    color: black !important;
}

.botonCategoria {
    color: black !important;
}

.bg-nav {
    background-color: $color-principal-navbar;
}

.dropdown-item:active {
    background-color: rgb(56, 95, 56);
}

.marca {
    position: absolute !important;
    left: 46% !important;
}

.derecha {
    position: absolute !important;
    right: 0% !important;
}

.perfilRedondo {
    height: 2.3em;
    width: 2.3em;
    object-fit: cover;
    border-radius: 50%;
}

/* HOVER EN EL MENÚ DE NAVEGACIÓN */
@media all and (min-width: 992px) {
    .navbar .nav-item .elementoNav{ display: none; }
	/*.navbar .nav-item:hover .nav-link{   }*/
	.navbar .nav-item:hover .elementoNav{ display: block; }
	.navbar .nav-item .elementoNav{ margin-top:0; }

    /* ALTURA PARA EL NAVBAR SOLO EN PANTALLAS GRANDES */
    .bg-nav {
        height: 6vh;
    }

    /* 100% DE ALTURA PARA LOS DESPLEGABLES SUPERIORES */
    .elementoNavSuperior {
        height: 6vh;
    }

    .elementoNavSuperior li a {
        margin-top: 0.9vh;
    }
    
    /* ELIMINA EL PADDING */
    nav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

/* PANTALLAS CON EL MENU CONTRAIDO */
@media all and (max-width: 992px) {
    .elementoNavSuperior li a {
        margin-top: 0;
        margin-left: 10px;
    }
}

/* BOTONES DE SECCIONES */
.elementoNavSuperior li {
    padding-left: 10px;
    padding-right: 10px;
}

/* COLOR DE FONDO PARA DESPLEGABLE DE IMÁGENES */
.elementoNavSuperiorImagenes {
    background-color: $color-boton-images;
}

.elementoNavSuperiorImagenes:hover {
    background-color: $color-images-hover;
}

/* COLOR DE FONDO PARA DESPLEGABLE DE VÍDEOS */
.elementoNavSuperiorVideos {
    background-color: $color-boton-videos;
}

.elementoNavSuperiorVideos:hover {
    background-color: $color-videos-hover;
}

.elementoNav a {
    color: black;
}