.bg-nav {
    background-color: rgb(151, 228, 151);
}

.dropdown-item:active {
    background-color: rgb(56, 95, 56);
}

.marca {
    position: absolute !important;
    left: 46% !important;
}

.derecha {
    position: absolute !important;
    right: 0% !important;
}

.perfilRedondo {
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: 50%;
}
