<app-navbar></app-navbar>
<div class="row mb-2 mx-0">
    <div class="col-12 portada">
        <app-search></app-search>
    </div>
</div>
<div class="row my-3 px-3 mx-0">
    <div class="col-12">
        <h4 class="h4">Últimas imágenes</h4>
    </div>
    <div class="col-12">
        <div class="grid-gallery w-100">
            <a class="grid-gallery__item imageHolder" href="#" *ngFor="let image of images">
                <img class="grid-gallery__image" src="{{publicDirBack}}thumbnail/{{image.filename}}">
                <span class="caption">
                  <p>{{image.price}}€</p>
                </span>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>
