<app-navbar></app-navbar>
<div class="d-flex justify-content-center container mt-5 mb-5">
    <div class="card p-3 bg-white">
        <h4 class="mx-auto">Comprar imagen</h4>
        <div class="about-product text-center mt-2"><img src="http://localhost:8000/sample/JI4crXIgx94O6MDJ5Rg1DsV2Lmpsnm8DR3TfSRfL.jpg" width="600">
            <div class="mt-2">
                <h5><i class="fas fa-user"></i> SanchezCheca</h5>
                <h6 class="mt-0 text-black-50">perro, animal, bichonmaltes, blanco</h6>
            </div>
        </div>
        <div class="d-flex justify-content-center total font-weight-bold mt-4"><span>Precio: 2.36€</span></div><button class="btn btn-success w-50 mx-auto">Comprar</button>

    </div>
</div>
<app-footer></app-footer>
