<app-navbar></app-navbar>
<div class="container mt-4">
<!-- IMAGEN, ETIQUETAS, BOTONES, CREADOR Y PRECIO -->
<div class="row mx-0 py-2">
  <!-- Imagen, etiquetas y botones -->
  <div class="col-xl-8 col-lg-6 col-12">
    <!-- Imagen -->
    <div class="card mb-2">
      <img class="card-img-top" src="{{publicDirBack}}sample/{{image.filename}}" alt="">
      <div class="card-body text-right">
        <p class="float-left">{{image.tags}}</p>
        <button class="btn btn-outline-dark"><i class="far fa-heart"></i></button>
        <button class="btn btn-outline-dark mx-2"><i class="fas fa-flag"></i></button>
        <button class="btn btn-outline-dark"><i class="fas fa-share-alt"></i></button>
      </div>
    </div>
    <!--<img class="img-fluid mx-auto" src="{{publicDirBack}}sample/{{image.filename}}">-->
  </div>
  <!-- Opciones de compra y datos del usuario -->
  <div class="col-xl-4 col-lg-6 col-12">
    <!-- Opciones de compra -->
    <div class="card w-100">
      <div class="card-body">
        <p class="h3">{{image.price}}€</p>
        <p class="font-italic text-muted">
          Formato: {{image.format}}<br>
          Resolución: {{image.width}}x{{image.height}}<br>
          Creado: {{image.created_at}}
        </p>
        <button class="btn btn-info w-100">Añadir al carrito</button>
        <button class="btn btn-success w-100 mt-2">Comprar ya</button>
      </div>
    </div>
    <!-- Datos del usuario -->
    <div class="card w-100 mt-2">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <a href="/user/{{creatorData.username}}">
              <img src="{{publicDirBack}}profileImage/{{creatorData.profileImageSrc}}" style="width:50px;height:50px" class="perfilRedondo">
              <p class="h5 d-inline ml-2">{{creatorData.username}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>