/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100% !important;
}

.btn-dark {
    background-color: #2C3E50 !important;
}

.btn-dark:hover {
    background-color: #222931 !important;
}

.bg-dark {
    background-color: #2C3E50 !important;
}
